@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* global styles */
  a,
  input,
  button,
  img,
  textarea,
  svg {
    transition: all 0.4s;
  }
}
/* global style classes */
.product-deal-card {
  @apply space-y-[40px] py-[18px] px-[11px] bg-white;
  a {
    @apply text-Cyan block w-fit hover:text-Gray;
  }
  .cat-four-imgs {
    @apply grid grid-cols-2 gap-x-[13px] gap-y-[5px];
  }
}
/* home page */
.home-deals-container {
  @apply mx-auto;
}




/* swiper slider Home page */


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: black;
  background-color: white;
  padding: 20px 15px;
  border-radius: 0 5px 5px 0;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  color: black;
  background-color: white;
  padding: 20px 15px;
  border-radius: 5px 0 0 5px ;
}

.swiper-scrollbar {
  background: white; 
  border-radius: 10px;
  height: 6px; 
  bottom: -5px; 
  margin:20px;
}

.swiper-scrollbar-drag {
  background: #8D8D8D; 
  border-radius: 10px;
  height: 5px;
}